<?xml version="1.0" encoding="UTF-8"?>

<!-- spring是一个放java对象的容器,把放在spring容器里面的beans成为javabean -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- id属性要求必须在spring中唯一的 如果我们的bean需要其他的名字，可以通过name属性为一个bean配置更多的名字，并且可以用逗号，分号或者空格来分割 
		<bean id="helloword" class="com._520it.springDemo.HelloWordImpl" />-->
	
	<!-- <import resource="com/_520it/toTest/name.xml"/> -->
</beans>